<div class="addblog">
    <form action="/addblog" method="post">
        <h2>Blogs blogs blogs...</h2>
        <input class="input" type="text" name="title" placeholder="Blog title..." />
        <input class="input" type="text" name="content" placeholder="Some blog content here..." />
        <input class="animated" type="submit" value="Add"></input>
    </form>
    <a class="forgot" href="/">Go back to main page</a>
</div>