<div class="login">
    <form action="/login" method="post">
        <h2>Login</h2>
        <input class="input" type="email" name="email" placeholder="example@example.com" />
        <input class="input" type="password" name="password" placeholder="Password" />
        <input class="animated" type="submit" value="Login"></input>
    </form>
    <a class="forgot" href="/register">Don't have account?</a>
    <a class="forgot" href="/">Back to home page</a>
</div>