<div class="login">
    <form action="/register" method="post">
        <h2>Register</h2>
        <input class="input" type="email" name="email" placeholder="email@email.com" />
        <input class="input" type="text" name="username" placeholder="username" />
        <input class="input" type="password" name="password" placeholder="Password" />
        <input class="animated" type="submit" value="Register"></input>
    </form>
    <a class="forgot" href="/login">Already have an account?</a>
    <a class="forgot" href="/">Back to home page</a>
</div>