<form action="/" method="get" class="sortForm">
    <select name="sortby" id="" class="form-control">
        <option value="">-----</option>
        <option value="author_id">By Auhor id</option>
        <option value="title">Title A-Z</option>
    </select>
    <input type="submit" value="Sort page / Reset" class="sortBtn">
</form>